body {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: MADETOMMY;
  src: url(./assets/fonts/MADE\ TOMMY\ Bold_PERSONAL\ USE.otf);
  font-weight: bold;
  font-style: italic, oblique;
}
@font-face {
  font-family: MADETOMMY;
  src: url(./assets/fonts/MADE\ TOMMY\ Light_PERSONAL\ USE.otf);
  font-weight: light;
  font-style: italic, oblique;
}
@font-face {
  font-family: MADETOMMY;
  src: url(./assets/fonts//MADE\ TOMMY\ Regular_PERSONAL\ USE.otf);
  font-weight: normal;
  font-style: italic, oblique;
}
@font-face {
  font-family: MADETOMMY;
  src: url(./assets/fonts/MADE\ TOMMY\ Medium_PERSONAL\ USE.otf);
  font-weight: 500;
  font-style: italic, oblique;
}
@font-face {
  font-family: CourierNewPSMT;
  src: url(./assets/fonts/Courier\ New\ Regular.ttf);
  font-weight: normal;
  font-style: italic, oblique;
}
/* @font-face {
  font-family: MADETOMMY;
  src: url(./assets/fonts/MADE\ TOMMY\ Light_PERSONAL\ USE.otf);
  font-weight: bold;
  font-style: italic, oblique;
} */
* {
  font-family: MADETOMMY;
}
#background-video,
.background-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}
.main {
  position: relative;
  height: 800px;
  width: 100%;
  /* background: black; */
}
.img-radar {
  position: absolute;
  left: -133px;
  top: -39px;
}
.img-radar img {
  height: 100%;
}
.title-banner-bottom {
  justify-content: space-evenly;
}
.img-moon {
  position: absolute;
  right: 41px;
  top: 10px;
}
.img-ship-radar {
  position: absolute;
  right: 147px;
  top: 193px;
}
.exchange-NFT {
  position: absolute;
  right: 61px;
  top: 230px;
  color: white;
  text-align: center;
}
.exchange_style::before {
  content: "\2022";
  color: #00ff66;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}
.content-main {
  position: absolute;
  color: white;
  text-align: center;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
}
nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
}
nav ul li a {
  font-size: 16px;
  text-decoration: none;
  margin: 19px;
  padding: 15px 0;
  color: white;
  opacity: 0.5;
  /* border-bottom: 1px solid white; */
}
.content-main-responsive-item_video {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
}
.content-main-responsive-item p {
  font-size: 7px;
  letter-spacing: 0.25px;
  color: #b8b8b8;
}
.p_number {
  margin-bottom: 0;
}
.wellion-container {
  padding-bottom: 5rem;
}
.box-card-right {
  padding-left: 35px !important;
}
.advantaged-container {
  margin-bottom: 4rem;
}
@media screen and (min-width: 1920px) {
  #navbarNavDropdown {
    justify-content: flex-end !important;
  }
}
@media screen and (min-width: 480px) {
  .twitter_insta {
    margin: 0 !important;
  }
  #navbarNavDropdown {
    display: flex;
    justify-content: space-around;
  }
}
@media screen and (max-width: 480px) {
  .content_generate_contructor_left {
    margin-left: 0rem !important;
  }
}
@media screen and (max-width: 768px) {
  .title-weilion {
    padding: 40px 0px 20px 0px !important;
  }
  .btn-shine {
    margin-top: 0 !important;
  }
  .content_generate_contructor_left {
    margin-left: 0rem !important;
  }
  .content_generate_contructor_left {
    text-align: center;
  }
  .content_W_Team_responsive {
    display: block !important;
  }
  .box-card-right {
    padding: 0 !important;
  }
  .box-card-right .content_generate_margin {
    max-width: 460px;
    margin: 0 auto;
  }
  .box-card-right .content_generate_cost_right {
    max-width: 460px;
    margin: 0 auto;
  }
}

.logo_space {
}

@media screen and (max-width: 1200px) {
  .content_W_Team_content_item {
    display: none !important;
  }
}
@media screen and (max-width: 480px) {
  .content_concept img {
    height: 70px !important;
    object-fit: contain !important;
    width: 100%;
  }
  .content_concept img.logo_nasa,
  .content_concept img.nasa {
    width: 100px !important;
  }
  .binance {
    width: 100%;
  }
  .content_purpose_advantaged {
    padding: 0px 20px;
    overflow: hidden;
  }

  .launch_location_responsive {
    display: flex !important;
  }
  .launch_location {
    display: none !important;
  }
  .content_W_Orbit {
    background-image: none !important;
    height: 438px !important;
    background-color: #0d0d0d !important;
  }
  .launch2 {
    display: block !important;
  }

  .launch {
    display: none;
  }
  .content_generate_contructor_left p {
    padding: 20px !important;
    width: 300px !important;
  }
  .chat1 {
    display: block;
  }
  .chat {
    display: none !important;
  }
  .iframe_res {
    width: 150px !important;
    height: 120px !important;
  }
  #background-video_astronaut {
    height: 52vh;
  }
  .content_astronaut {
    height: auto !important;
    width: auto !important;
    /* border: 1px solid #000000; */
  }
  .insta_pc {
    display: none;
  }
  .insta_responsive {
    display: block !important;
  }
  .content_W-Comunication {
    height: 383px !important;
    background-color: #0d0d0d !important;
  }
  .content_concept_item {
    margin: 0 20px !important;
  }
  .logo_space {
    margin-top: 20px !important;
    margin-right: 0 !important;
  }

  .nasa {
    width: 48.5px;
    height: 10px;
  }
  .logo_nasa {
    width: 35px;
    height: 17.5px;
  }
  .space_x {
    width: 99px;
    height: 32.7px;
  }
  .Concept {
    font-size: 19px !important;
    line-height: 10px;
    color: #e1e1e1;
    margin-bottom: 50px;
  }

  .COMUNICATION {
    font-size: 22px;
    letter-spacing: 0.36px;
    color: #f1f1f1;
  }
  .content-main-responsive {
    display: block !important;
  }
  .content_purpose_advantaged {
    height: 730px !important;
  }
  .content_purpose_advantaged_item {
    width: 100% !important;
  }

  .nav-link {
    cursor: pointer;
    margin: 0;
  }
  .icon-close {
    margin-right: 10px;
    margin-top: 10px !important;
  }
  .nav-item {
    cursor: pointer !important;
    text-align: left;
    padding-left: 22px;
    padding-right: 22px;
  }
  .content_purpose_advantaged_black {
    border: 1px solid gray;
    width: 100% !important;
    margin-bottom: 16px;
    padding: 25px;
  }
  .content_generate_contructor_right_item2 {
    padding-left: 0px !important;
    text-align: center !important;
  }
  .content_generate_contructor_right_item2_span {
    font-size: 11px;
    font-weight: normal !important;
  }
  .content_generate_cost {
    border: 1px solid #ff6d00;
    text-align: center;
    border-radius: 5px;
    margin: 0 35px;
    padding: 22px;
  }
  .million {
    display: block;
    font-weight: bold;
  }
  .wellion {
    font-weight: bold;
  }
  .hr-range {
    display: none;
  }
  .content_generate_contructor_right_orbital {
    display: block !important;
  }
  .btn_W-Comunication {
    font-size: 12px !important;
    line-height: 1px !important;
    letter-spacing: 0.18px !important;
    padding: 10px 25px;
  }
  .content-astronaut {
    height: 157px !important;
  }
  .navbar-nav {
    cursor: pointer !important;
    width: 200px;
    position: absolute;
    right: 30px;
    padding: 0.5px 0 14px 13.5px;
    background-color: #1c1c1c;
    top: 20px;
    right: 7px;
    z-index: 2;
  }
  .navbar-toggle-mb {
    display: block !important;
    text-align: right;
    padding-right: 7px;
    margin-bottom: 0;
    padding-top: 0px;
    padding-bottom: 10px;
    background: transparent;
  }
  .content_purpose_advantaged .nav-tabs .nav-link:hover {
    border-bottom: none;
  }
  .content_purpose_advantaged .nav-tabs .nav-link.active {
    border-bottom: none;
  }
  .content_generate_contructor_left_p {
    width: 100%;
    font-size: 12px !important;
  }
  .content_generate_margin {
    margin: 0 5px !important;
  }
  .may122021 {
    font-size: 15px;
  }
  .content_generate_manufacturer {
    margin: 0 32px;
    font-size: 9px;
    margin-top: 40px;
  }
  .title {
    display: none;
  }
  .content_purpose_advantaged_none {
    display: flex !important;
    font-size: 13px;
    padding-right: 69px;
  }
  .content_purpose_advantaged_tabs {
    margin: 0 !important;
    margin-top: 30px !important;
    height: 331px !important;
  }
  .tab-content {
    padding: 0 10px !important;
  }
  .tabs-purpose {
    font-size: 12px;
  }
  .img-radar {
    position: absolute;
    left: -389px;
    top: 73px;
  }
  .img-moon {
    display: none;
  }
  .content-main {
    display: none;
  }
  .hr_concrept {
    margin-top: 11px !important;
  }
  .content_W_Roadmap_item_2 {
    margin-right: 34px !important;
  }
  .imgCarousel {
    height: 300px;
  }
  .img-ship-radar {
    top: 134px;
    right: 61px;
  }
  .content_W_Team_content_item {
    display: none !important;
  }
  .content_W_Team_responsive {
    display: block !important;
  }
  .tabs-purpose p {
    font-size: 11px;
  }
  .p_style {
    padding: 0 !important;
    max-width: 90% !important;
  }
  .exchange-NFT {
    right: 8px;
    top: 161px;
  }
  .exchange_style {
    font-size: 11px;
  }
  .NFT {
    font-size: 12px;
  }
}
.shadow-overlay {
  position: absolute;
  bottom: -1px;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) -3%, #000 93%);
  height: 100px;
  width: 100%;
}
.navbar {
  z-index: 11;
}
.navbar-toggle-mb {
  display: none;
}
.tab-pane {
  margin-top: 1rem;
}
.nav-tabs {
  margin-top: 2rem;
}
.tab-content {
  font-size: 14;
  padding: 0 60px;
  margin-bottom: 3.5rem;
}
nav ul li a:hover {
  border-bottom: 1px solid;
  margin-bottom: -1px;
  color: white;
  opacity: 1;
}
.navbar-brand {
  padding: 0 !important;
  z-index: 100;
  font-family: CourierNewPSMT;
  letter-spacing: 3px;
}
.content_generate {
  height: 100%;
  background-color: black;
}
.content_generate_title {
  text-align: center;
  color: white;
  margin-top: 74px;
  font-weight: bold;
}
.content_generate_contructor_left {
  margin-left: 4rem;
}
.content_generate_contructor_left p {
  padding: 50px;
  width: 469px;
  color: white;
  font-size: 13px;
  text-align: left;
}
.modal-dialog {
  max-width: 653px !important;
}
.content_generate_contructor_right {
  padding: 36px;
  width: 301px;
  height: 414px;
  background-color: #ff6d00;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content_generate_contructor_right_item {
  text-align: center;
  color: #e1e1e1;
}
.content_generate_contructor_right_item2 {
  padding-left: 15px;
  text-align: left;
}
.content_generate_contructor_right_orbital {
  display: flex;
}
.content_generate_manufacturer {
  color: #b8b8b8;
  font-size: 11px;
  padding-top: 16px;
}
.generate {
  font-size: 36px;
  font-weight: bold;
}

.upto {
  font-weight: bold;
  font-size: 21px;
}
.one {
  font-size: 118px;
  font-weight: bold;
}
.billion {
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 0;
}
.energy {
  font-size: 17px;
}
/* content_purpose_advantaged */
.imgCarousel {
  /* margin-left: 300px; */
  /* margin-left: 290px; */
}
.content_purpose_advantaged {
  height: 100%;
  position: relative;
  background-color: #191919;
  height: 600px;
  height: 400;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  background-image: url("./assets/images/bg-purpose.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-color: black;
}
.content_purpose_advantaged_tabs {
  max-width: 600px;
  border: 2px solid #b8b8b8;
  background-color: #191919;
  margin-top: 60px;
  --all: 0px;
  --b: white;

  /* width:200px;
  height:150px; */
  display: inline-block;
  border: 4px solid var(--b);
  background: linear-gradient(
        45deg,
        var(--b) 0 calc(var(--bottom-left, var(--all)) + 5px),
        transparent 0
      )
      bottom left / 50% 50%,
    linear-gradient(
        -45deg,
        var(--b) 0 calc(var(--bottom-right, var(--all)) + 5px),
        transparent 0
      )
      bottom right/50% 50%,
    linear-gradient(
        135deg,
        var(--b) 0 calc(var(--top-left, var(--all)) + 5px),
        transparent 0
      )
      top left / 50% 50%,
    linear-gradient(
        -135deg,
        var(--b) 0 calc(var(--top-right, var(--all)) + 5px),
        transparent 0
      )
      top right / 50% 50%,
    var(--img, #191919);
  background-origin: border-box;
  background-repeat: no-repeat;
  -webkit-mask: linear-gradient(
        45deg,
        transparent 0 var(--bottom-left, var(--all)),
        #fff 0
      )
      bottom left,
    linear-gradient(
        -45deg,
        transparent 0 var(--bottom-right, var(--all)),
        #fff 0
      )
      bottom right,
    linear-gradient(135deg, transparent 0 var(--top-left, var(--all)), #fff 0)
      top left,
    linear-gradient(-135deg, transparent 0 var(--top-right, var(--all)), #fff 0)
      top right;
  -webkit-mask-size: 50.5% 50.5%;
  -webkit-mask-repeat: no-repeat;
}
.content_purpose_advantaged_tabs .nav-link {
  color: white !important;
}
.content_purpose_advantaged_black {
  background-color: #191919;
  width: 203px;
  height: 53px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  box-shadow: 1px 2.5px 3.5px 0 rgba(0, 0, 0, 0.5);
}
marquee {
  color: white;
  font-size: 12px;
}
.item-info-bottom-banner-chart {
  max-width: 270px;
}
.item-info-bottom-banner p {
  line-height: 1.19;
  letter-spacing: 1.8px;
  font-size: 14px;
}
.content_purpose_advantaged_none {
  display: none;
}
.content_purpose_advantaged_black span {
  color: #b8b8b8;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.38;
  letter-spacing: 0.72px;
}
.content_purpose_advantaged_item {
  text-align: center;
}
.content_purpose_advantaged_item .title {
  font-size: 13px;
  color: #696969;
}
#nav-tab {
  border-bottom: none;
}
.content_purpose_advantaged .nav {
  justify-content: center;
}
.content_purpose_advantaged .nav-tabs .nav-link.active {
  color: white;
  background-color: transparent;
  border-color: transparent;
  border-bottom: 1px solid white;
}
.content_purpose_advantaged .nav-tabs .nav-link:hover {
  border-color: transparent;
  border-bottom: 1px solid white;
}
.btn-purpose {
  color: white;
  font-weight: bold;
  margin: 0 10px;
}

/* astronault */
.content-astronaut {
  background-image: url("./assets/images/astronaut.png");
  height: 529px;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  background-position: center;
}
/* W_orbit */
.content_W_Orbit {
  background-image: url("./assets/images/moon-space.png");
  height: 835px;
  background-size: cover;
  color: white;
}
/* footer */
.content_concept {
  /* background-color: #191919; */
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border-bottom: 1px solid #696969; */
  position: relative;
  width: 100%;
  transform: scale(1.006);
}
.content_concept img {
  height: 20px;
  object-fit: contain;
}
.tabs-purpose {
  color: white;
  margin: 2rem 0 1rem 0;
  padding: 0 16px;
  font-size: 13px;
}
.tabs-purpose p {
  margin: 0;
  line-height: 1.5;
  font-weight: light;
}
.content_concept_item {
  text-align: center;
  color: #696969;
  width: 80%;
  max-width: 1100px;
}
.Concept {
  color: white;
  display: block;
  margin-bottom: 100px;
  font-size: 2rem;
}
.logo_space {
  margin-top: 50px;
  margin-right: 21px;
}
.logo_space .binance,
.space_x {
  object-fit: contain;
}

.logo_space > div {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* .logo_space img {
  height: 50px;
  width: 100%;
  object-fit: contain;
} */
.content_W-Comunication {
  background-color: #191919;
  height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content_W-Comunication_item {
  color: #e1e1e1;
  text-align: center;
}
.btn_W-Comunication {
  background-color: #191919;
  border: 1px solid white;
  border-radius: 6px;
  color: white;
  font-size: 13px;
  padding: 10px 50px;
}
.content_W-Comunication_item .icon {
  margin: 51px 15px 49px 15px;
  background-color: white;
  color: #191919;
  padding: 8px;
  border-radius: 5px;
}
.content_W_Team {
  background-color: #191919;
  border-bottom: 1px solid rgba(196, 194, 194, 0.2);
  height: 100%;
}
.content_W_Team_content_item {
  position: relative;
}
.content_W_Team_content_item img {
  transition: transform 0.3s ease-in-out;
}
.content_W_Team_content_item img:hover {
  transform: scale(0.9);
}
.item-trans {
  transform: translateY(-40px);
  bottom: unset !important;
}
.text_item p {
  padding: 0 35px;
  font-weight: 100;
}
.text_item {
  padding: 0 30px;
  width: 100%;
  position: absolute;
  bottom: -57px;
  text-align: center;
}
.text_item h2 {
  font-weight: bold;
}
.text_item1,
.text_item2 {
  width: 100%;
  top: calc(100% - 53px);
}
.content_W_Team_content_item .hover {
  display: none;
  color: white;
}

.content_W_Team_content_item:hover .hover {
  display: block;
}
.content_W_Team_content_item:hover .none-hover {
  display: none;
}
.text_item2 {
  width: 100%;
}
.line-content::after {
  left: 0;
  position: absolute;
  content: "";
  height: 1px;
  background-color: rgb(90, 90, 90);
  width: 100%;
  top: -30%;
  z-index: 1;
}
.line-content::before {
  position: absolute;
  content: "";
  height: 10px;
  background-color: rgb(255, 255, 255);
  width: 10px;
  left: 48.5%;
  border-radius: 50%;
  top: -35%;
  z-index: 112;
}
.line-content4::after {
  position: absolute;
  content: "";
  height: 30%;
  background-color: rgb(90, 90, 90);
  width: 1px;
  left: 50%;
  z-index: 1;
  bottom: 18%;
}
.line-content4::before {
  position: absolute;
  content: "";
  height: 10px;
  background-color: rgb(255, 255, 255);
  width: 10px;
  border-radius: 50%;
  bottom: 86px;
  left: 49%;
  z-index: 112;
}
.line-content2::after {
  top: -86px;
  position: absolute;
  content: "";
  height: 100%;
  background-color: rgb(90, 90, 90);
  width: 1px;
  left: 50%;
  z-index: 1;
}
.line-content2::before {
  position: absolute;
  content: "";
  height: 10px;
  background-color: rgb(255, 255, 255);
  width: 10px;
  border-radius: 50%;
  bottom: 86px;
  left: 49%;
  z-index: 112;
}
.img-content-team {
  position: relative;
  z-index: 11;
}
.line-content3::after {
  top: -86px;
  position: absolute;
  content: "";
  height: 100%;
  background-color: rgb(90, 90, 90);
  width: 1px;
  left: 50%;
  z-index: 1;
}
.line-content3::before {
  position: absolute;
  content: "";
  height: 10px;
  background-color: rgb(255, 255, 255);
  width: 10px;
  border-radius: 50%;
  bottom: 86px;
  left: 49%;
  z-index: 112;
}
.content_W_Roadmap_item {
  padding: 50px 0;
}
.content_W_Roadmap {
  background-color: #191919;
  height: 100%;
  position: relative;
}
.content_W_Roadmap_item_2 {
  display: flex;
  justify-content: center;
  color: white;
  padding: 15px 0;
  margin-right: 48px;
  letter-spacing: 4px;
}
.content_W_Roadmap_item_2 {
  padding: 15px 0;
}
.content_W_Roadmap_item h4::before {
  content: "\2022";
  color: #00ff66;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}
.content_W_Roadmap_item_overlay {
  position: absolute;
  width: 100%;
  /* background-color: red; */
  bottom: 64px;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) -5%,
    #191919 84%
  );
  height: 200px;
}
.content_W_Roadmap_item h4 {
  text-align: center;
  color: white;
  font-weight: bold;
  letter-spacing: 2px;
}
.swiper-slide {
  align-self: stretch;
  flex-grow: 1;
}
.content_W_Team_responsive_border {
  border: 2px solid #757575;
  padding: 26px 10px 10px 10px;
  text-align: center;
  border-radius: 9px;
  background-color: #191919;
  flex: 1;
  min-height: 358px;
}
.swiper .swiper-wrapper {
  align-items: stretch;
  height: 100%;
}
.content_W_Team_responsive {
  display: none;
}
.img_responsive {
  height: 89px;
  margin: 0 auto;
}
.p_style {
  font-size: 13px;
  text-align: center;
  color: #b8b8b8;
  max-width: 50%;
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  margin-top: 6rem;
  margin-bottom: 3rem;
}
.clear-margin {
  margin-right: 0 !important;
}
.content-main p {
  margin-bottom: 0 !important;
  color: #dddddd;
  opacity: 0.6;
}
.yt-banner {
  display: flex;
  justify-content: center;
  align-items: center;
}
.item-info-bottom-banner {
  max-width: 312px !important;
}
.content_generate_contructor_left_p {
  width: 400px;
  /* border: 1.5px solid white; */
  --all: 0px;
  --b: white;

  /* width:200px;
  height:150px; */
  display: inline-block;
  /* margin: 10px; */
  border: 4px solid var(--b);
  background: linear-gradient(
        45deg,
        var(--b) 0 calc(var(--bottom-left, var(--all)) + 5px),
        transparent 0
      )
      bottom left / 50% 50%,
    linear-gradient(
        -45deg,
        var(--b) 0 calc(var(--bottom-right, var(--all)) + 5px),
        transparent 0
      )
      bottom right/50% 50%,
    linear-gradient(
        135deg,
        var(--b) 0 calc(var(--top-left, var(--all)) + 5px),
        transparent 0
      )
      top left / 50% 50%,
    linear-gradient(
        -135deg,
        var(--b) 0 calc(var(--top-right, var(--all)) + 5px),
        transparent 0
      )
      top right / 50% 50%,
    var(--img, #191919);
  background-origin: border-box;
  background-repeat: no-repeat;
  -webkit-mask: linear-gradient(
        45deg,
        transparent 0 var(--bottom-left, var(--all)),
        #fff 0
      )
      bottom left,
    linear-gradient(
        -45deg,
        transparent 0 var(--bottom-right, var(--all)),
        #fff 0
      )
      bottom right,
    linear-gradient(135deg, transparent 0 var(--top-left, var(--all)), #fff 0)
      top left,
    linear-gradient(-135deg, transparent 0 var(--top-right, var(--all)), #fff 0)
      top right;
  -webkit-mask-size: 50.5% 50.5%;
  -webkit-mask-repeat: no-repeat;
}
.content_purpose_advantaged_overlay {
  position: absolute;
  top: -1px;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0) -3%, #000 93%);
  height: 80px;
  width: 100%;
}
.content_purpose_advantaged_overlay2 {
  position: absolute;
  bottom: -1px;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) -3%, #000 93%);
  height: 100px;
  width: 100%;
}
.content-main-responsive {
  position: absolute;
  bottom: 63px;
  left: 0;
  right: 0;
  z-index: 111;
  display: none;
}

.title-team {
  font-size: 1.5rem;
  font-weight: 500;
}
.content_W_Team_content img {
  object-fit: contain;
}
.modal-content {
  background-color: transparent !important;
  border: none !important;
}
.modal-header {
  border-bottom: none !important;
}
.play {
  color: white;
  position: absolute;
}
.img-pop {
  position: relative;
}
.insta_responsive {
  display: none;
  margin: 0 auto;
}
.twitter_insta {
  margin: 30px 0 !important;
}
.content_astronaut {
  width: 100%;
  height: 100%;
  background-color: #191919;
  margin-bottom: -1px;
}
#background-video_astronaut {
  width: 100%;
  height: 100%;
  object-fit: cover;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}
.carousel-item {
  text-align: center;
}
.chat {
  display: none;
}
.launch {
  margin-top: 38px;
}
.launch2 {
  margin-top: 41px;
  display: none;
}
.content_generate_contructor_right_item2_span {
  color: #c8c8c8;
  font-weight: bold;
  font-size: 12px;
}
.launch_location_responsive {
  display: none;
}

.line-1 {
  position: relative;
  top: 50%;
  width: 24em;
  margin: 0 auto;
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  font-size: 180%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);
}

/* Animation */
.anim-typewriter {
  animation: typewriter 4s steps(44) 1s 1 normal both,
    blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 24em;
  }
}
@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* background: #fff; */
  /* width: 250px;
  height: 95.5px; */
  /* Center slide text vertically */
  max-width: 300px;
  min-width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  height: auto;
}

#app {
  font-size: 12px;
  font-weight: 300;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: left;
  color: #f1f1f1;
}

#app .Typewriter__wrapper {
  color: #f1f1f1;
  opacity: 0.5;
}

.overplay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
}

video {
  pointer-events: none;
  width: 100%;
}
#app2 .Typewriter__wrapper {
  color: #f1f1f1;
  font-size: 7px;
  opacity: 0.5;
}
.related {
  position: relative;
}
#app2 {
  position: absolute;
  bottom: 100%;
}

.chat1 {
  display: none;
}
.chat {
  display: block !important;
}

/* what a weilion  */

.title-weilion {
  position: relative;
  padding: 100px 0px 47px 0px;
  width: 100%;
}
.btn-shine {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 12px 48px;
  color: #fff;
  background: linear-gradient(to right, #4d4d4d 0, #fff 10%, #4d4d4d 20%);
  background-position: 0;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 3s infinite linear;
  animation-fill-mode: forwards;
  -webkit-text-size-adjust: none;
  text-decoration: none;
  white-space: nowrap;
  margin: 0;
  margin-top: 2rem;
}
@-moz-keyframes shine {
  0% {
    background-position: 0;
  }
  60% {
    background-position: 380px;
  }
  100% {
    background-position: 380px;
  }
}
@-webkit-keyframes shine {
  0% {
    background-position: 0;
  }
  60% {
    background-position: 380px;
  }
  100% {
    background-position: 380px;
  }
}
@-o-keyframes shine {
  0% {
    background-position: 0;
  }
  60% {
    background-position: 380px;
  }
  100% {
    background-position: 380px;
  }
}
@keyframes shine {
  0% {
    background-position: 0;
  }
  60% {
    background-position: 380px;
  }
  100% {
    background-position: 380px;
  }
}

/* menu  */
.blink-text-menu {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}
.blink-text-menu li a {
  position: relative;
  display: flex;
  padding: 6px;
  color: #fff;
  font-family: Lato, sans-serif;
  text-decoration: none;
}
.blink-text-menu li a span {
  position: relative;
  overflow: hidden;
  transition: 0.6s;
}
.blink-text-menu li a span .out {
  display: inline-flex;
}
.blink-text-menu li a span .in {
  position: absolute;
  left: 0;
  opacity: 0;
  transform: translateX(100%);
}
.blink-text-menu li a:hover span .out {
  opacity: 0;
  transform: translateX(-100%);
}
.blink-text-menu li a:hover span .in {
  opacity: 1;
  transform: translateX(0);
}

#container {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

#source {
  white-space: pre-wrap;
  font-size: 12px;
  font-weight: 300;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: left;
  color: #f1f1f1;
  /* pre-wrap	Whitespace is preserved by the browser. Text will wrap when necessary, and on line breaks */
}

.blurred {
  filter: blur(0.8px);
}

#access-msg {
  font-size: 3rem;
  text-align: center;
  border: 2px solid;
  padding: 1.5rem;

  position: absolute;
  z-index: 99;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.d-none {
  display: none;
}

.success {
  color: #10ff00;
  display: block;
  animation: accessAnimation 0.5s 2 0s linear;
}

.denied {
  color: red;
  display: block;
  animation: accessAnimation 0.5s 2 0s linear;
}

@keyframes accessAnimation {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


#container .source { 
  height: 400px;
}

