html,
body {
  font-size: 10px;
  background: #191919;
}
.wrap-roadmap {
  display: flex;
}
.left {
  width: 100px;
  height: 30px;
}
.wrap-roadmap > div {
  flex: 1;
}
.wrap-roadmap h4 {
  font-size: 2.25rem;
}
.wrap-roadmap .main {
  font-size: 1rem;
  line-height: 1.43;
  font-weight: normal;
  color: #fff;
  border-left: solid 1px #333;
  border-top: solid 1px #333;
  border-bottom: solid 1px #333;
  height: auto;
}

.wrap-roadmap .main .special {
  padding: 0.5rem 1.5rem;
  font-weight: bold;
  font-size: 1rem;
  letter-spacing: normal;
  color: #fff;
  border: solid 1px #333;
  background-color: #191919;
  border-radius: 6px;
  margin: 0px 0.375rem;
  /* box-shadow: 0 1.5px 3px 0 */
}

.wrap-roadmap .main div {
  /* margin: 9px 0; */
  padding: 0.563rem 1.125rem;
  position: relative;
}
.wrap-roadmap .main .title {
  /* margin: 9px 0; */
  background: #191919;
  position: absolute;
  top: 0px;
  left: 1.125rem;
  padding-left: 0;
  transform: translateY(-50%);
  font-size: 1.25rem;
  font-weight: 500;
  white-space: nowrap;
}

.wrap-roadmap .main div:not(.title)::after {
  content: "";
  display: block;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 30px;
  background-color: #fff;
  position: absolute;
  top: 1rem;
  left: 0;
  transform: translateX(-50%);
}

.wrap-roadmap .seconds {
  transform: translateX(40%);
  background: #191919;
  border: none;
  border-left: solid 1px #333;
  border-top: solid 2px #191919;
  margin-top: -2px;
}

.wrap-roadmap .left {
  position: relative;
}

.wrap-roadmap .left .content {
  width: 24.5rem;
  height: 9.75rem;
  overflow: hidden;
  position: absolute;
  top: 3.125rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrap-roadmap .left .overplays {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  -webkit-backdrop-filter: blur(22px);
  backdrop-filter: blur(22px);
  border: solid 1px #e1e1e1;
  background-color: rgba(58, 58, 58, 0.26);
  opacity: 0.8;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.wrap-roadmap .left .left-border {
  width: 50%;
  height: 3.125rem;
  border-left: solid 1px #333;
  border-top: solid 1px #333;
  position: absolute;
  right: 0;
}
.wrap-roadmap .left img {
  position: absolute;
  margin-top: 5rem;
  width: 110%;
}
.wrap-roadmap .left .text {
  color: #fff;
  font-weight: bold;
  font-size: 4.5rem;
}

.right-box {
  padding: 2rem 2.375rem;
  border-radius: 1.25rem;
  border: solid 1px #e1e1e1;
  background-color: #1c1c1c;
  width: fit-content;
  text-align: center;

  line-height: 1;
  letter-spacing: normal;
  text-align: center;
  color: #e1e1e1;
  font-size: 1.25rem;
  transform: translate(30%, -30%);
}
.wrap-roadmap .right {
  position: relative;
}
.wrap-roadmap .right .right-border {
  width: 50%;
  border-top: solid 1px #333;
  position: absolute;
  left: 0;
  margin-left: 40px;
}
.wrap-roadmap .right img {
  width: 10.875rem;
  margin-left: 10rem;
  margin-top: 1.25rem;
}

@media screen and (min-width: 1920px) {
  html,
  body {
    font-size: 14px;
  }
}
@media screen and (min-width: 1400px) {
  html,
  body {
    font-size: 13px;
  }
}
